@(registerForm: Form[models.User])
@import helper._

<!--編集画面(ユーザーID、ユーザー名)-->
@main("Edit") {
    <legend class="uk-legend uk-margin uk-large-left uk-margin-top">USER EDIT</legend>
    @form(action = routes.EditController.userUpdate){
        @CSRF.formField
        @inputText(
        field = registerForm("userid"),
        '_label -> "USER ID",
        '_class -> "uk-margin-xlarge-left uk-margin-top"
        )
        @inputText(
        field = registerForm("username"),
        '_label -> "USER NAME",
        '_class -> "uk-margin-xlarge-left uk-margin-top"
        )
    <input type="submit" value="Update">
    }
 
<!--編集画面(パスワード)-->    
<legend class="uk-legend uk-margin uk-large-left uk-margin-top">PASSWORD EDIT</legend>
    @form(action = routes.EditController.passUpdate){ 
        @CSRF.formField
        @inputPassword(
        field = registerForm("oldPass"),
        '_label -> "OLD PASSWORD",
        '_class -> "uk-margin-xlarge-left uk-margin-top"
        )
        @inputPassword(
        field = registerForm("newPass"),
        '_label -> "NEW PASSWORD",
        '_class -> "uk-margin-xlarge-left uk-margin-top"
        )
        @inputPassword(
        field = registerForm("confirmNewPass"),
        '_label -> "CONFIRM NEW PASSWORD",
        '_class -> "uk-margin-xlarge-left uk-margin-top"
        )
    
    <input type="submit" value="Update">
    }
    <p>@flash.get("disagreement")</p>
    
    <!--<button class="uk-button-danger uk-botton-small">DELETE</button>-->
}