

@main("Login") {
    <header id="header">
    <h1 class="uk-headeing-primary uk-text-muted">LoginPage</h1>
</header>

<div id="contents">
    <table class="uk-table uk-table-hover">
        <thead>
            <p>
                <input type="text" name="name" id="name" value class="form-control" placeholder="UserName" size="40">
            </p>
            <p>
                <input type="password" name="password" id="password" value class="form-control" placeholder="PassWord" size="40">
            </p>
        </thead>
        <p>
            <button name="button" type="submit" class="btn-class4 medium-size">Login</button>
        </p>

    </table>
</div>

}